body,html {
    height: 100%;
    width: 100%;
}

a, a:visited {
    color: #469600;
}

a:hover {
    color: #66cc22;
}

h1, h2, h3 {
    font-family: "Cuprum";
}

div#wrap {
    position: relative;
    display: block;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    height: auto;
    width: auto;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: #ccc 0px 0px 10px 2px;
    margin: 20px 50px;
    padding: 5px 10px;
}

div#container {
    padding-bottom: 40px;
}

div#footer {
    position: absolute;
    text-align: right;
    bottom: 0px;
    right: 10px;
}

div#header {
    text-align: center;
}

div#home-steps div.well {
    display: inline-block;
}

.nav {
    margin-left: 10px;
}

.nav li {
    background-color: #bada55;
    border-radius: 6px;
}

.nav li a {
    color: #fff;
    font-weight: bold;
    text-shadow: #333 1px 1px 2px;
}

.nav li a:hover {
    color: #999;
    text-shadow: #ccc 1px 1px 2px;
}

div.submit input {
    background: #ccc;
    background:-moz-linear-gradient(top, #A3FFA3, #82CC82);
    background:-webkit-linear-gradient(top, #A3FFA3, #82CC82); 
    background:-o-linear-gradient(top, #A3FFA3, #82CC82);
    background:-ms-linear-gradient(top, #A3FFA3, #82CC82);
    background:linear-gradient(top, #A3FFA3, #82CC82); /* Come on guys, support this -.- */
    font-weight: bold;
}
    